# REMOVE .sample to use

[Flask]
app_name = 'TODO-list'
app_path = ./application

[keys]
SECRET_KEY = secret_key
SECURITY_PASSWORD_SALT = security_email_salt

[database]
uri = sqlite:///database/database.sqlite

[mail]
