<!DOCTYPE html>
<html>

    <head>
        <link rel="shortcut icon" href="/static/favicon.ico">
    </head>

    <body>
        <form method="POST" action="/">
            <table>
                <tr>
                    <td>{{ form.csrf_token }} {{ form.name.label }} {{ form.name(size=20) }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label }} {{ form.password(size=20) }}</td>
                </tr>
                <tr>
                    <td><input type="submit" value="Go"></td>
                </tr>
            </table>
        </form>
    </body>

</html>
