<!DOCTYPE html>
<html>

    <head>
        <link rel="shortcut icon" href="/static/favicon.ico">
        <title>Register</title>
    </head>

    <body>
        <form method="POST" action="/register">
            <table>
                <tr>
                    <td>{{ form.csrf_token }} {{ form.email.label }}:</td>
                    <td>{{ form.email(taborder=1) }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label }}:</td>
                    <td>{{ form.password(taborder=2) }}</td>
                </tr>
                <tr>
                    <td>{{ form.confirm.label }}:</td>
                    <td>{{ form.confirm(taborder=3) }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td>{{ form.submit(taborder=4) }}</td>
                </tr>
            </table>
            {% if form.errors %}
            <ul class=errors>
                {% for field, error in form.errors.items() %}
                <li>{{ field }}: {{ '; '.join(error) }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
        Already have an account? <a href="/login">Sign in!</a>
    </body>

</html>